/*achtegrondkleur van de body*/
body {
  background-color: rgb(209, 169, 154);
  }


/* Ul introduceert een ongeordende lijst, deze css gegevens zijn een onderdeel van de navigatiebalk*/
/*list-style-type: none;- Verwijdert de punten. Een navigatiebalk heeft namelijk geen lijstmarkeringen nodig. Standaardinstellingen van de browser instellen margin: 0;en verwijderen padding: 0;*/
/*overflow: hidden; om alles dat langer of breder is dan aangegeven niet te tonen*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:rgb(209, 169, 154);
  }
  
/* je maakt de navigatiebalk op deze manier horizontaal. Dit doe je door de <li>-elementen te laten zweven en een lay-out voor de navigatielinks op te geven*/
li {
  float: left;
  }
   
/*op deze manier regel je de opmaakt van je navigatiebalk, color bepaald te tekstkleur, de padding regelt de ruimte om de tekst en display: block zorgt voor het weergeven van een element als blok, zoals alinea's en kopteksten altijd zijn geweest */
li a {
  display: block;
  color:rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  }
   
/* verander de achtergrond kleur naar de kleur teal op de hover*/
li a:hover {
  background-color:rgb(102, 102, 102);
  }

  h1 {
    color: rgb(70, 56, 56);
    text-align: center;
    font-size: 50px;
  } /* h1 is de styling van de hoofdkoppen. De kleur is heel donkerrood en de tekst staat in het midden met een grote van 50px */
  
h2 {
  color: rgb(0, 0, 0);
  font-size: 20 px;
} /* h2 is de styling van de titels van de tussenkopjes. De kleur is zwart en de grootte is 20px.  */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: center;
}
 /*Een footer toegevoegd. Deze staat bij elke pagina onderin de tekst en blijft ook op dezelfde plek ook al scrol je. */

 .dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: rgb(255, 254, 254);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:rgb(168, 104, 102);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.89);
  z-index: 1;
}

.dropdown-content a:hover {
  background-color: rgb(168, 104, 102);
}
.dropdown:hover .dropdown-content {
  display:block;
}
 