body {
  background-color: rgb(207, 192, 192);
  color: rgb(0, 0, 0);
  font-family: Arial;
  padding: 30px;
 }
  
h1 {
  color: rgb(70, 56, 56);
  text-align: center;
  font-size: 50px;
}
  

 ul {
     list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
  }
   li {
    float: left;
    border-right:1px solid #bbb;
  }
  
  li:last-child {
    border-right: none;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #111;
  }
 
  .column {
    float: left;
    width: 50%;
    padding: 15px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media screen and (max-width:600px) {
    .column {
      width: 100%;
    }
  }

    
h2 {
  color: rgb(70, 56, 56);
  text-align: center;
  font-size: 50px;
}

  
h3 {
  color: rgb(70, 56, 56);
  text-align: center;
  font-size: 50px;
}
  
h4 {
  color: rgb(70, 56, 56);
  font-size: 20px;
}

h5 {
  color:rgb(70, 56, 56);
  font-size: 20px;
}
  
